# Enable WASM Multithreading
Header set Cross-Origin-Embedder-Policy "require-corp"
Header set Cross-Origin-Opener-Policy "same-origin"

# Prevent caching of index.html and service worker so users ALWAYS get the latest version immediately
<FilesMatch "\.(html|json)$|flutter_service_worker\.js$">
    FileETag None
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</FilesMatch>

# Cache all other assets (WASM, JS, Fonts, Images) for a year since Flutter automatically hashes their filenames on new builds
<FilesMatch "\.(js|wasm|png|jpg|jpeg|gif|ico|ttf|woff|woff2|css)$">
    Header set Cache-Control "max-age=31536000, public, immutable"
</FilesMatch>
